/* colors */
.bg-darkblue01{
    background-color: rgb(207, 212, 237);
}

.bg-darkblue05{
    background-color: rgb(5, 27, 111);
}

.bg-darkblue04{
    background-color: rgb(12, 40, 166);
}

.bg-darkblue03{
    background-color: rgb(94, 112, 196);
}

.bg-darkblue02{
    background-color: rgb(174, 183, 226);
}
/* colors */

body{
    overflow-x: hidden;
}

/* shapes */
.navbar-brand{
    Width: 100px;
    height: 34px;
}
.blue-box{
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    border-top-left-radius: 60px;
    z-index: 1;
}
.posisi-mobil{
    z-index: 10; 
    position: relative;
}
.br-10px{
    border-radius: 10px;
}
.br-5px{
    border-radius: 5px;
}
.circle-btn{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
/* shapes */

/* size */
.size-check{
    width: 24px;
}
.size-card1{
    height: 100%;
}
.ml-55{
    height: 55vh ;
}
.ml-45{
    height: 45vh ;
}
/* size */

/* positions */
.flex-nav{
    flex-grow: initial;
}
.mrg-15{
    margin-left: 15px;
}
.liststyle{
    list-style: none;
}
.row{
    margin: 0;
}
.reset-padding{
    padding: 0;
}
.jrk-btn{
    width: 120px; 
    margin: 50px;
}
.position-absolute{
    position: absolute;
}
/* positions */

/* carousel */


.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/* carousel */


/* Small devices  */
@media (max-width: 769px) { 
    .wds-100{
        max-width: 100% !important;
    }
    .wds-85{
        width: 85% !important;
    }
    .wds-50{
        width: 50% !important;
    }
    .txts-center {
        text-align: center;
    }
    .txts-left {
        text-align: left;
    }
    .mls-65{
        height: 65vh ;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        width: 100% !important;
        }
    nav.nav-large{
        display: none;
    }
}

/* Large devices  */
@media (min-width: 769px) { 
    .pdnav{
        padding-left: 136px;
    }
    .wd-100{
        max-width: 100% !important;
    }
    .wd-85{
        width: 85% !important;
    }
    .wd-45{
        width: 45% !important;
    }
    .mll-45{
        height: 45vh ;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        width: 60% !important;
        }
    nav.nav-small{
        display: none;
    }
    
}